{% load static %}
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
        <div class="container">
  
          <div class="section-title">
            <h2>Skills</h2>
            <p>{{skills.Skill_para}}</p>
          </div>
  
          <div class="row skills-content">
  
          {% for i in skills_matrices %}
          <div class="col-lg-6" data-aos="fade-up">
            <div class="progress">
              <span class="skill">{{i.Skill_name}} <i class="val">{{i.Skill_progressbar}}%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{i.Skill_progressbar}}" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>
          {% endfor %}
 
          </div>
  
        </div>
      </section><!-- End Skills Section -->